@model CoffeeMarketPanel.Models.Request.UserLoginRequest
@{
   
}
<!doctype html>
<html lang="tr">

<head>
    @Html.Partial("Includes/Header/head", Model)

</head>


<body>
    <header class="container-fluid">
        @Html.Partial("Includes/Header/header", Model)
    </header>
    @RenderBody()
    <footer class="container-fluid">
        @(Html.Partial("Includes/Footer/footer", Model))
    </footer>

    @(Html.Partial("Includes/_js", Model))
</body>

</html>